// 项目提供 scss 全局变量

// 左侧菜单的宽度
$base-menu-width: 260px;
$base-menu-min-width: 50px;
$base-menu-background: #ffffff;

// logo 高度设置
$base-logo-height: 50px;
$base-logo-text-fontSize: 20px;

// 顶部导航的高度
$base-tabbar-height: 50px;

$base-border-color: #DDE6F0;
$base-text-color: #363A45;
$base-text-secondary-color: #898D97;
$base-primary-text-color: #fff;
$base-background: #ffffff;
$base-grey-background: #F2F4F9;
$base-primary-color: #3591F4;
$base-primary1-color: rgba(53, 145, 244, 0.1);
// 成功色
$base-success-color: #0CAA43;
$base-success-color1: rgba(12, 170, 67, 0.1);
// 警告色
$base-warning-color: #FFA00A;
$base-warning-color1: rgba(255, 160, 10, 0.1);
// 错误色
$base-error-color: #F43835;
$base-error-color1: rgba(244, 56, 53, 0.1);
$base-icon-color: #CCD6DD;
